In [47]:
#Create dataframe with suicide data
import pandas as pd
import numpy as np
file = 'Data/suicides.csv'
suicides_df = pd.read_csv(file)[['country','year','suicides_no']]
suicides_df_2015 = suicides_df.loc[suicides_df['year'] == 2015]
suicides_df_2015

                   country  year  suicides_no
576    Antigua and Barbuda  2015            1
577    Antigua and Barbuda  2015            0
578    Antigua and Barbuda  2015            0
579    Antigua and Barbuda  2015            0
580    Antigua and Barbuda  2015            0
581    Antigua and Barbuda  2015            0
582    Antigua and Barbuda  2015            0
583    Antigua and Barbuda  2015            0
584    Antigua and Barbuda  2015            0
585    Antigua and Barbuda  2015            0
586    Antigua and Barbuda  2015            0
587    Antigua and Barbuda  2015            0
948              Argentina  2015          245
949              Argentina  2015          656
950              Argentina  2015          431
951              Argentina  2015          465
952              Argentina  2015          633
953              Argentina  2015          153
954              Argentina  2015          125
955              Argentina  2015          114
956              Argentina  2015          166
957              Argentina  2015           27
958              Argentina  2015           39
959              Argentina  2015           19
1236               Armenia  2015           12
1237               Armenia  2015           16
1238               Armenia  2015            5
1239               Armenia  2015           15
1240               Armenia  2015           10
1241               Armenia  2015            5
...                    ...   ...          ...
26842       United Kingdom  2015          306
26843       United Kingdom  2015          181
26844       United Kingdom  2015          108
26845       United Kingdom  2015          104
26846       United Kingdom  2015            6
26847       United Kingdom  2015            4
27208        United States  2015         3171
27209        United States  2015         9068
27210        United States  2015        11634
27211        United States  2015         5503
27212        United States  2015         4359
27213        United States  2015         4053
27214        United States  2015         2872
27215        United States  2015         1444
27216        United States  2015         1132
27217        United States  2015          540
27218        United States  2015          255
27219        United States  2015          158
27544              Uruguay  2015           58
27545              Uruguay  2015          133
27546              Uruguay  2015           96
27547              Uruguay  2015          135
27548              Uruguay  2015           74
27549              Uruguay  2015           17
27550              Uruguay  2015           34
27551              Uruguay  2015           23
27552              Uruguay  2015           38
27553              Uruguay  2015           17
27554              Uruguay  2015            3
27555              Uruguay  2015            2

[744 rows x 3 columns]

In [142]:
#Group by country and year and get the total number of suicides
country_group = suicides_df_2015.groupby(['country','year']).sum().reset_index()[['country','suicides_no']]
country_group

                         country  suicides_no
0            Antigua and Barbuda            1
1                      Argentina         3073
2                        Armenia           74
3                      Australia         3027
4                        Austria         1251
5                        Belgium         1867
6                         Belize           26
7                         Brazil        11163
8                          Chile         1838
9                       Colombia         2332
10                       Croatia          739
11                          Cuba         1511
12                        Cyprus           40
13                Czech Republic         1387
14                       Denmark          564
15                       Ecuador         1073
16                       Estonia          195
17                       Finland          731
18                       Georgia          192
19                       Germany        10088
20                        Greece          529
21                       Grenada            0
22                     Guatemala          494
23                       Hungary         1868
24                       Iceland           40
25                        Israel          342
26                         Italy         3988
27                         Japan        23092
28                    Kazakhstan         2872
29                    Kyrgyzstan          417
..                           ...          ...
32                    Luxembourg           64
33                         Malta           34
34                     Mauritius          104
35                        Mexico         6234
36                   Netherlands         1873
37                     Nicaragua          315
38                        Norway          590
39                        Panama          110
40                        Poland         5420
41                   Puerto Rico          226
42                         Qatar           66
43             Republic of Korea        13510
44                       Romania         2228
45            Russian Federation        25432
46  Saint Vincent and Grenadines            3
47                        Serbia         1062
48                    Seychelles            7
49                     Singapore          329
50                      Slovenia          422
51                  South Africa          482
52                         Spain         3604
53                        Sweden         1182
54                   Switzerland         1073
55                      Thailand         4205
56                        Turkey         1532
57                  Turkmenistan          133
58                       Ukraine         7574
59                United Kingdom         4910
60                 United States        44189
61                       Uruguay          630

[62 rows x 2 columns]

In [143]:
#Import the happiness sqllite
import sqlite3
# Create your connection.
cnx = sqlite3.connect('Data/happiness.sqlite')
happiness_df = pd.read_sql_query("SELECT * FROM `2015`", cnx)[['Country','Happiness Score']]

In [170]:
merged_df = happiness_df.merge(country_group, left_on='Country', right_on='country')
final_df = merged_df[['Country','Happiness Score','suicides_no']]
final_df.sort_values(['suicides_no'],ascending=False)

           Country Happiness Score  suicides_no
11   United States           7.119        44189
29           Japan           5.987        23092
12          Brazil           6.983        11163
18         Germany            6.75        10088
49         Ukraine           4.681         7574
10          Mexico           7.187         6234
36          Poland           5.791         5420
15  United Kingdom           6.867         4910
25        Thailand           6.455         4205
31           Italy           5.948         3988
26           Spain           6.329         3604
21       Argentina           6.574         3073
7        Australia           7.284         3027
32      Kazakhstan           5.855         2872
24        Colombia           6.477         2332
44         Romania           5.124         2228
5      Netherlands           7.378         1873
48         Hungary             4.8         1868
14         Belgium           6.937         1867
19           Chile            6.67         1838
42          Turkey           5.332         1532
22  Czech Republic           6.505         1387
9          Austria             7.2         1251
6           Sweden           7.364         1182
30         Ecuador           5.975         1073
0      Switzerland           7.587         1073
45          Serbia           5.123         1062
34       Lithuania           5.833          896
37         Croatia           5.759          739
4          Finland           7.406          731
23         Uruguay           6.485          630
3           Norway           7.522          590
2          Denmark           7.527          564
47          Greece           4.857          529
28       Guatemala           6.123          494
50    South Africa           4.642          482
33        Slovenia           5.848          422
43      Kyrgyzstan           5.286          417
46          Latvia           5.098          387
8           Israel           7.278          342
16       Singapore           6.798          329
35       Nicaragua           5.828          315
41         Estonia           5.429          195
52         Georgia           4.297          192
39    Turkmenistan           5.548          133
17          Panama           6.786          110
40       Mauritius           5.477          104
51         Armenia            4.35           74
20           Qatar           6.611           66
13      Luxembourg           6.946           64
38          Cyprus           5.689           40
1          Iceland           7.561           40
27           Malta           6.302           34

In [156]:
# Upload new DF into Mongo
import pymongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
db = client.CountriesDB
collection = db.items


for index, row in final_df.iterrows():
    post = {
        "Country": row['Country'],
        "Happiness Score": row['Happiness Score'],
        "Number of Suicides": row['suicides_no']
    }
    collection.insert_one(post)

In [161]:
# Verify results:
results = collection.find()
for result in results:
    print(result)

{'_id': ObjectId('5c735712d778d81e8453d350'), 'Country': 'Switzerland', 'Happiness Score': '7.587', 'Number of Suicides': 1073}
{'_id': ObjectId('5c735712d778d81e8453d351'), 'Country': 'Iceland', 'Happiness Score': '7.561', 'Number of Suicides': 40}
{'_id': ObjectId('5c735712d778d81e8453d352'), 'Country': 'Denmark', 'Happiness Score': '7.527', 'Number of Suicides': 564}
{'_id': ObjectId('5c735712d778d81e8453d353'), 'Country': 'Norway', 'Happiness Score': '7.522', 'Number of Suicides': 590}
{'_id': ObjectId('5c735712d778d81e8453d354'), 'Country': 'Finland', 'Happiness Score': '7.406', 'Number of Suicides': 731}
{'_id': ObjectId('5c735712d778d81e8453d355'), 'Country': 'Netherlands', 'Happiness Score': '7.378', 'Number of Suicides': 1873}
{'_id': ObjectId('5c735712d778d81e8453d356'), 'Country': 'Sweden', 'Happiness Score': '7.364', 'Number of Suicides': 1182}
{'_id': ObjectId('5c735712d778d81e8453d357'), 'Country': 'Australia', 'Happiness Score': '7.284', 'Number of Suicides': 3027}
{'_id': ObjectId('5c735712d778d81e8453d358'), 'Country': 'Israel', 'Happiness Score': '7.278', 'Number of Suicides': 342}
{'_id': ObjectId('5c735712d778d81e8453d359'), 'Country': 'Austria', 'Happiness Score': '7.2', 'Number of Suicides': 1251}
{'_id': ObjectId('5c735712d778d81e8453d35a'), 'Country': 'Mexico', 'Happiness Score': '7.187', 'Number of Suicides': 6234}
{'_id': ObjectId('5c735712d778d81e8453d35b'), 'Country': 'United States', 'Happiness Score': '7.119', 'Number of Suicides': 44189}
{'_id': ObjectId('5c735712d778d81e8453d35c'), 'Country': 'Brazil', 'Happiness Score': '6.983', 'Number of Suicides': 11163}
{'_id': ObjectId('5c735712d778d81e8453d35d'), 'Country': 'Luxembourg', 'Happiness Score': '6.946', 'Number of Suicides': 64}
{'_id': ObjectId('5c735712d778d81e8453d35e'), 'Country': 'Belgium', 'Happiness Score': '6.937', 'Number of Suicides': 1867}
{'_id': ObjectId('5c735712d778d81e8453d35f'), 'Country': 'United Kingdom', 'Happiness Score': '6.867', 'Number of Suicides': 4910}
{'_id': ObjectId('5c735712d778d81e8453d360'), 'Country': 'Singapore', 'Happiness Score': '6.798', 'Number of Suicides': 329}
{'_id': ObjectId('5c735712d778d81e8453d361'), 'Country': 'Panama', 'Happiness Score': '6.786', 'Number of Suicides': 110}
{'_id': ObjectId('5c735712d778d81e8453d362'), 'Country': 'Germany', 'Happiness Score': '6.75', 'Number of Suicides': 10088}
{'_id': ObjectId('5c735712d778d81e8453d363'), 'Country': 'Chile', 'Happiness Score': '6.67', 'Number of Suicides': 1838}
{'_id': ObjectId('5c735712d778d81e8453d364'), 'Country': 'Qatar', 'Happiness Score': '6.611', 'Number of Suicides': 66}
{'_id': ObjectId('5c735712d778d81e8453d365'), 'Country': 'Argentina', 'Happiness Score': '6.574', 'Number of Suicides': 3073}
{'_id': ObjectId('5c735712d778d81e8453d366'), 'Country': 'Czech Republic', 'Happiness Score': '6.505', 'Number of Suicides': 1387}
{'_id': ObjectId('5c735712d778d81e8453d367'), 'Country': 'Uruguay', 'Happiness Score': '6.485', 'Number of Suicides': 630}
{'_id': ObjectId('5c735712d778d81e8453d368'), 'Country': 'Colombia', 'Happiness Score': '6.477', 'Number of Suicides': 2332}
{'_id': ObjectId('5c735712d778d81e8453d369'), 'Country': 'Thailand', 'Happiness Score': '6.455', 'Number of Suicides': 4205}
{'_id': ObjectId('5c735712d778d81e8453d36a'), 'Country': 'Spain', 'Happiness Score': '6.329', 'Number of Suicides': 3604}
{'_id': ObjectId('5c735712d778d81e8453d36b'), 'Country': 'Malta', 'Happiness Score': '6.302', 'Number of Suicides': 34}
{'_id': ObjectId('5c735712d778d81e8453d36c'), 'Country': 'Guatemala', 'Happiness Score': '6.123', 'Number of Suicides': 494}
{'_id': ObjectId('5c735712d778d81e8453d36d'), 'Country': 'Japan', 'Happiness Score': '5.987', 'Number of Suicides': 23092}
{'_id': ObjectId('5c735712d778d81e8453d36e'), 'Country': 'Ecuador', 'Happiness Score': '5.975', 'Number of Suicides': 1073}
{'_id': ObjectId('5c735712d778d81e8453d36f'), 'Country': 'Italy', 'Happiness Score': '5.948', 'Number of Suicides': 3988}
{'_id': ObjectId('5c735712d778d81e8453d370'), 'Country': 'Kazakhstan', 'Happiness Score': '5.855', 'Number of Suicides': 2872}
{'_id': ObjectId('5c735712d778d81e8453d371'), 'Country': 'Slovenia', 'Happiness Score': '5.848', 'Number of Suicides': 422}
{'_id': ObjectId('5c735712d778d81e8453d372'), 'Country': 'Lithuania', 'Happiness Score': '5.833', 'Number of Suicides': 896}
{'_id': ObjectId('5c735712d778d81e8453d373'), 'Country': 'Nicaragua', 'Happiness Score': '5.828', 'Number of Suicides': 315}
{'_id': ObjectId('5c735712d778d81e8453d374'), 'Country': 'Poland', 'Happiness Score': '5.791', 'Number of Suicides': 5420}
{'_id': ObjectId('5c735712d778d81e8453d375'), 'Country': 'Croatia', 'Happiness Score': '5.759', 'Number of Suicides': 739}
{'_id': ObjectId('5c735712d778d81e8453d376'), 'Country': 'Cyprus', 'Happiness Score': '5.689', 'Number of Suicides': 40}
{'_id': ObjectId('5c735712d778d81e8453d377'), 'Country': 'Turkmenistan', 'Happiness Score': '5.548', 'Number of Suicides': 133}
{'_id': ObjectId('5c735712d778d81e8453d378'), 'Country': 'Mauritius', 'Happiness Score': '5.477', 'Number of Suicides': 104}
{'_id': ObjectId('5c735712d778d81e8453d379'), 'Country': 'Estonia', 'Happiness Score': '5.429', 'Number of Suicides': 195}
{'_id': ObjectId('5c735712d778d81e8453d37a'), 'Country': 'Turkey', 'Happiness Score': '5.332', 'Number of Suicides': 1532}
{'_id': ObjectId('5c735712d778d81e8453d37b'), 'Country': 'Kyrgyzstan', 'Happiness Score': '5.286', 'Number of Suicides': 417}
{'_id': ObjectId('5c735712d778d81e8453d37c'), 'Country': 'Romania', 'Happiness Score': '5.124', 'Number of Suicides': 2228}
{'_id': ObjectId('5c735712d778d81e8453d37d'), 'Country': 'Serbia', 'Happiness Score': '5.123', 'Number of Suicides': 1062}
{'_id': ObjectId('5c735712d778d81e8453d37e'), 'Country': 'Latvia', 'Happiness Score': '5.098', 'Number of Suicides': 387}
{'_id': ObjectId('5c735712d778d81e8453d37f'), 'Country': 'Greece', 'Happiness Score': '4.857', 'Number of Suicides': 529}
{'_id': ObjectId('5c735712d778d81e8453d380'), 'Country': 'Hungary', 'Happiness Score': '4.8', 'Number of Suicides': 1868}
{'_id': ObjectId('5c735712d778d81e8453d381'), 'Country': 'Ukraine', 'Happiness Score': '4.681', 'Number of Suicides': 7574}
{'_id': ObjectId('5c735712d778d81e8453d382'), 'Country': 'South Africa', 'Happiness Score': '4.642', 'Number of Suicides': 482}
{'_id': ObjectId('5c735712d778d81e8453d383'), 'Country': 'Armenia', 'Happiness Score': '4.35', 'Number of Suicides': 74}
{'_id': ObjectId('5c735712d778d81e8453d384'), 'Country': 'Georgia', 'Happiness Score': '4.297', 'Number of Suicides': 192}